@import url(../../../css/header.css);
@import url(../../../css/footer.css);

.container {
    height: 500px;
}

.offset { 
    overflow: hidden; 
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px 100px;
}
        
.offset div {
    background-color: #eee;
    float:left;
    margin: 0px auto;
    margin-top: 20px;
    height: 65%;
    width:70%;
    text-align: center;
}

.examplelabelboxshadow {
    color: #888;
    font-size: 20px;
    position: relative;
    top: 20px;
}

.exampleboxshadowa {
    box-shadow: -5px -5px 0px 1px rgba(0,0,0,0.76);
}

.exampleboxshadowb {
    box-shadow: -5px -5px 7px 0px rgba(0,0,0,0.76);
}

.exampleboxshadowc {
    box-shadow: -3px -3px 0px 3px rgba(0,0,0,0.76);
}

.exampleboxshadowd {
    box-shadow: -4px -4px 7px 4px rgba(0,0,0,0.76);
}

.exampleboxshadowe {
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.76);
}

.exampleboxshadowf {
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.76);
}

.exampleboxshadowg {
    box-shadow: 2px 2px 0px 2px rgba(0,0,0,0.76);
}

.exampleboxshadowh {
    box-shadow: inset -4px -4px 5px 2px rgba(0,0,0,0.76);
}

.exampleboxshadowi {
    box-shadow: inset -5px -5px 0px 5px rgba(0,0,0,0.76);
}

.exampleboxshadowj {
    box-shadow: inset -5px -5px 5px 5px rgba(0,0,0,0.76);
}

.exampleboxshadowk {
    box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.76);
}

.exampleboxshadowl {
    box-shadow: inset 0px 0px 4px 5px rgba(0,0,0,0.76);
}


@media (min-width: 576px) {
    .barraNavegacion {
        margin: 0px auto;
        height: 50%;
        display: flex;
        align-items: center;
    }

    .barraNavegacion p {
        margin: 0px;
    }

    .ejercicio {
        border-color: black;
        border-width: 2px;
        border-style: solid;
        border-radius: 10px;
        padding: 20px;
        margin: 15px auto;
        width: 85%;
        display: flex;
        flex-wrap: wrap;
    }

    #enunciado, #resultado {
        width: 50%;
    }

    .ejercicio a {
        outline: none;
        text-decoration: none;
        padding: 2px 1px 0;
    }

    .ejercicio a:link {
        color: #002352;
    }

    .ejercicio a:visited {
        color: #164a7a;
    }

    .ejercicio a:focus {
        border-bottom: 1px solid;
        background: #98c6e4;
    }

    .ejercicio a:hover {
        border-bottom: 1px solid;
        background: #aad3fe;
    }

    .ejercicio a:active {
        background: #011b53;
        color: #aadafe;
    }
}