@import url(../../../css/header.css);
@import url(../../../css/footer.css);

.container {
    height: 500px;
}

.ejercicio>h1 {
    text-align: center;
    text-transform: uppercase;
}

.ejercicio>h2 {
    text-transform: uppercase;
}       

.ejercicio strong {
    text-decoration: underline;
}

@media (min-width: 576px) {
    .barraNavegacion {
        margin: 0px auto;
        height: 50%;
        display: flex;
        align-items: center;
    }

    .barraNavegacion p {
        margin: 0px;
    }

    .ejercicio {
        border-color: black;
        border-width: 2px;
        border-style: solid;
        border-radius: 10px;
        padding: 20px;
        margin: 15px auto;
        width: 85%;
        display: flex;
        flex-wrap: wrap;
    }

    #enunciado,
    #resultado {
        width: 45%;
        margin: 0px auto;
    }

    #resultado h1 {
        font-size: 20px;
    }

    #resultado h2 {
        font-size: 18px;
    }
    
    .ejercicio a {
        outline: none;
        text-decoration: none;
        padding: 2px 1px 0;
    }

    .ejercicio a:link {
        color: #002352;
    }

    .ejercicio a:visited {
        color: #164a7a;
    }

    .ejercicio a:focus {
        border-bottom: 1px solid;
        background: #98c6e4;
    }

    .ejercicio a:hover {
        border-bottom: 1px solid;
        background: #aad3fe;
    }

    .ejercicio a:active {
        background: #011b53;
        color: #aadafe;
    }
}