footer {
    height: 100px;
    width: 100%;
    text-align: center;
    background-color: rgb(92, 92, 252);
    padding: 1px;
    margin-top: 20px;
}

footer img {
    width: 10%;
}

@media (min-width: 576px) {
    footer {
        margin-top: 10px;
        height: 50px;
    }

    footer p{
        display: flex;
        float: left;
        height: 100%;
        margin: 0px 40px;
        align-items: center;
    }

    footer img {
       margin: 10px;
       height: 30px;
       width: auto;
       float: right;
    }

    footer img:hover {
        filter: opacity(.5);
        -webkit-filter: opacity(.5);
    }
}