@import url(../../../css/header.css);
@import url(../../../css/footer.css);

.container {
    height: 500px;
    width: 100%;
}

.ejercicio {
    width: 100%;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    font-size: 12px;
}

table,
tr,
th,
td {
    border: 1px solid #333;
}

th {
    background-color: #F5F5F5;
    padding: 0 .5em;
}

th.euro {
    background: #E6F3FF url(imagenes/euro.png) no-repeat left center;
}

th.dolar {
    background: #E6F3FF url(imagenes/dolar.png) no-repeat left center;
}

th.libra {
    background: #E6F3FF url(imagenes/libra.png) no-repeat left center;
}

th.yen {
    background: #E6F3FF url(imagenes/yen.png) no-repeat left center;
}

tr:nth-child(n+1) td {
    text-align: right;
}

tr:nth-child(2n) {
    background-color: #FFFFCC;
}

tr:hover {
    background: #FFFF66;
}

@media (min-width: 576px) {
    .barraNavegacion {
        margin: 0px auto;
        height: 50%;
        display: flex;
        align-items: center;
    }

    .barraNavegacion p {
        margin: 0px;
    }

    .ejercicio {
        border-color: black;
        border-width: 2px;
        border-style: solid;
        border-radius: 10px;
        padding: 20px;
        margin: 15px auto;
        width: 85%;
        display: flex;
        flex-wrap: wrap;
    }

    #enunciado,
    #resultado {
        width: 45%;
        margin: 0px auto;
    }

    #resultado {
        display: flex;
        align-items: center;
    }

    #resultado table {
        font-size: 8px;
    }

    .ejercicio a {
        outline: none;
        text-decoration: none;
        padding: 2px 1px 0;
    }

    .ejercicio a:link {
        color: #002352;
    }

    .ejercicio a:visited {
        color: #164a7a;
    }

    .ejercicio a:focus {
        border-bottom: 1px solid;
        background: #98c6e4;
    }

    .ejercicio a:hover {
        border-bottom: 1px solid;
        background: #aad3fe;
    }

    .ejercicio a:active {
        background: #011b53;
        color: #aadafe;
    }
}